<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a
      href="index.html"
      class="navbar-brand d-flex justify-content-center align-items-center"
    >
      @if(menu){
      <img [src]="user.picture_url" class="avatar rounded-circle" />
      <div class="d-flex flex-column justify-content-center text-light ms-3">
        <p class="m-0 fs-5">{{ user.name }}</p>
        <p class="m-0 fs-6 text-uppercase fw-light">
          {{ user.position }}
        </p>
      </div>
      }
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      @if(menu){
      <ul class="navbar-nav ms-auto text-center">
        @for(item of menu; track $index){
        <li class="nav-item mx-1">
          <a
            [href]="item.url"
            class="nav-link"
            [class.active]="active === item"
            (click)="onNavbarItemClicked(item)"
          >
            {{ item.title }}
          </a>
        </li>
        }
      </ul>
      }
    </div>
  </div>
</nav>
