<!-- Navbar Component -->
<header>
  <app-navbar [user]="user_data" [menu]="menu_data"></app-navbar>

  <!-- Hero Section -->
  <section id="home" class="">
    <div class="welcome container d-flex align-items-center flex-column">
      <h1 class="text-light fw-light text-center">
        Creativity, Passion, Code...
      </h1>
      <h2 class="text-center text-light fw-lighter">
        "As a web developer, I focus on creating powerful, user-centered
        websites that solve problems and inspire. Explore my work, and let’s
        bring your vision to life."
      </h2>
      <br /><br />
      <button
        class="btn btn-primary btn-lg btn-browse text-light text-uppercase"
      >
        Tell Me More
      </button>
    </div>
  </section>
</header>

<!-- Education Section -->
<section id="education" class="py-5">
  <div class="container text-center">
    <div class="row">
      <h1 class="text-center">EDUCATION</h1>
    </div>

    <div class="row">
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat,
        nesciunt?
      </p>
    </div>

    <div class="row">
      @if(education_data){ @for(education of education_data; track $index){
      <div class="col-md-4">
        <education-card
          [title]="education.title"
          [description]="education.description"
          [image]="education.image"
          [startDate]="education.startDate"
          [endDate]="education.endDate"
        ></education-card>
      </div>
      } }
    </div>
  </div>
</section>

<!-- Footer Component -->
<app-footer></app-footer>
